/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



$lightblue: #15FFBC;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header{
    background-color: $lightblue; 
    /*height: 80px*/    
    padding: 10px;
}

.navbarmenu{    
    list-style-type: none;
    display:flex;
    column-gap: 0.8em;
    justify-content: center;
    text-decoration: none;  
    align-items: center;  
}

.navbar__menu-image{
    padding-left:1em;
    padding-right:1em;
}

h1{
    display:none;
}

h1{
    display:none;
    color:white;
}

.main__text{
    display:flex;
    flex-direction: column;
    align-items: center;
}   
footer{
    background-color: black;
    color: $lightblue; 
}

.footer__top{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer__bottom{
    display:flex;
    justify-content: space-between;
    
}



.footer h4{
    margin-top:1em;
}




.footer__bottom-right{
    
    display:flex;
    flex-direction: column;

}
