/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$lightblue: #15FFBC;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Oswald;
}

a{
    text-decoration: none;
}


.header{
    background-color: $lightblue; 
    /*height: 80px*/    
    padding: 10px;
}


// --- MOBILE BURGER BUTTON STYLES ---

.navbar-mobile{
    position:absolute;    
}

// --- DESKTOP NAVBAR STYLES ---

.navbarmenu{    
    list-style-type: none;
    display:flex;
    column-gap: 0.8em;
    justify-content: center;
    text-decoration: none;  
    align-items: center;  
}

.navbar__menu-image{
    padding-left:1em;
    padding-right:1em;
}


.navbar__menu-items{
    display:none;
}


h1{
    display:none;
}

// --- MAIN PART OF THE HTML STYLES ---

main {
    background-color: $lightblue; 
}

.video-desktop{
    display:none;
}

.pink-car{
    height: 100%;
    width: 100%;
}


.main-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.main-text__main-block{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-top: 2em;
    
}

.main-text p{
    font-size: 4em;  
    margin-top: 1em;
    text-align: center;
}  

.image-curl{
    width: 40px;
}

.main-text__underlined{
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 1em;
}


figcaption{
    text-align:center;
    margin-bottom:2em;
}


.images-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.images-box__image{
    height: 100%;
    width: 100%;
}




footer{
    background-color: black;
    color: $lightblue;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer__mobile h4{
    color:white;
    margin-top:2.2em;
    margin-bottom:0.9em;
    font-size: 28px;
}

.footer__mobile p{
    margin-top:0.2em;
    margin-bottom:0.2em;
    font-size:20px;
}

.footer__mobile__first{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.footer__mobile__menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:30px;
    margin:2em;
}

.footer__mobile__menu a{
    color: white;
    text-decoration:none;
}

.footer__mobile__block1{
    display:flex;
    flex-direction: column;
    align-items: center;   
}

.footer__mobile__social-media h4{
    display:flex;
    justify-content: center;
    align-items: center;
}


.footer__mobile__social-media__containers{
    display:flex;
    justify-content: center;
    align-items: center;
     
}

.social-media-image{
    width: 30px;
    height: 30px;
    margin: 0.5em;
}


.footer__mobile__block2{
    display:flex;
    flex-direction: column;
    align-items: center;   
}



.footer__desktop{
    display:none;
}

.footer__desktop h4{
    
    
}



.footer__desktop__bottom{
    display:flex;
    justify-content: center;
    column-gap: 100px;
}

.footer__desktop__bottom-right{    
    display:flex;
    flex-direction: column;
}



// work.html

.images-container{
    display:flex;
    width:100%;
    flex-direction: column;
}




@media (min-width: 600px){  /*A partir de 600 px*/

    .navbar-mobile{
        display: none;
    }
    .navbar__menu-items{
        display:flex;
    }

    .video-desktop{
        display:flex;
        width:100%;      
    }

    .pink-car{
        display: none;
    }

    .footer__mobile{
        display:none;
    }


    .footer__desktop{
        display:flex;
    }

    .images-container{
        //display:flex;        
        //flex-direction: row;
        display:grid;
        grid-template-columns: auto auto auto;
        width: 100%;
    }
}
